.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactPage .body {
  max-width: 550px;
}
@media (min-width: 768px) {
  .contactPage .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.formWrapper {
  width: 100%;

  display: grid;
  row-gap: 2rem;
  margin-top: 2rem;
}

.firstSection {
  display: grid;
  row-gap: 1rem;
}

.topInputs {
  display: flex;
  justify-content: space-between;
}

.topInputs > div:first-child {
  margin-right: 0.5rem;
}

.submitButton {
  margin: 2rem 8rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .topInputs .input-wrapper {
    width: 100%;
    max-width: 260px;
  }
}
