.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="tel"],
.input-wrapper textarea {
  border: 1px solid #000;
  background: transparent;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="tel"] {
  height: 2.5rem;
}
