footer {
  background-color: #c2d8d8;

  height: 320px;

  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-footer {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

footer .body-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .site-navigation {
  display: flex;
  flex-direction: column;
}

.site-navigation a {
  font-size: 16px;
}

.insta-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.insta-link svg {
  margin-bottom: 0.5rem;
}
