footer {
  background-color: #c2d8d8;

  height: 200px;

  margin-top: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insta-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insta-link svg {
  margin-bottom: 0.5rem;
}
