
.header:hover{

    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #5D6B6B;

  }

  .grid-content {
      max-width: 80em;
  }

  .filter-col {
      max-width: 20em;
  }
  
  .content{
    cursor: pointer;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    font-family: verdana;
    font-size: 14px;
    box-shadow: 0 5px 15px #5D6B6B;
  }

  .three-margin {
      margin-right: 3em;
  }
  .small-margin {
      margin-left: 5px;
      margin-right: 5px;
  }
  .row {
      display: flex;
      flex-direction: row;
  }
  .text-center {
      text-align: center;
  }
  .row-center {
      justify-content: center;
      align-items: center;
  }

  .col {
      display: flex;
      flex-direction: column;
  }