/* 
global.css -- styles to be applies on every page, including resets to CSS presets
*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* 
MARK - root styles
*/
:root {
  font-size: 16px;
}

/* 
MARK - utility styles
*/

.title-L {
  /* 6 x root font size = 6 x 16 = 96px */
  font-size: 6rem;
}

.title-M {
  /* 6 x root font size = 6 x 16 = 96px */
  font-size: 3rem;
}
.title-S {
  font-size: 1.5rem;
}

section {
  border-top: 1px solid black;

  padding: 4rem;
}

/* 
MARK - CSS resets
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}


body {
  font-family: "DM Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #222;

  margin: 0px;
}
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 1em;
  margin-top: 2em;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 767px){
    .title-L {
      font-size: 3rem;
      margin-left: 1em;

    }
    .title-S {
      visibility: collapse;
    }
    .grid-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
    .col-left {
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
    }
  
}