/* 
global.css -- styles to be applies on every page, including resets to CSS presets
*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* 
MARK - root styles
*/
:root {
  font-family: "DM Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  background-color: #f2f8f8;
}

/* 
MARK - utility styles
*/
.title-S {
  font-size: 1.5rem;
}

.title-M,
.title-L {
  font-size: 24px;
}

@media (min-width: 768px) {
  .title-M {
    font-size: 48px;
  }

  .title-L {
    font-size: 96px;
  }
}

section {
  /* border-top: 1px solid black; */
  padding: 2rem;
}

@media (min-width: 768px) {
  section {
    padding: 4rem 10%;
  }
}

.logoText {
  text-transform: uppercase;
}

/* 
MARK - CSS resets
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button,
button {
  font-family: "DM Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;

  background-color: transparent;
  color: inherit;
  border: 2px solid #064457;
  cursor: pointer;

  padding: 0.5rem 1rem;
  margin: 1rem;

  text-align: center;
}

figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
}
