/* 
home.css -- styles to be applied on the home page 
*/

/* landing section */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.landing-h {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  margin-bottom: 1rem;
}

.landing-p {
  text-align: center;
  margin-bottom: 1rem;
}

.landing-buttons {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .landing-text {
    max-width: 50%;
  }
}

/* about section */

.about {
}

.about-header {
  padding-bottom: 0.5rem;
}

.about-left {
  margin-bottom: 3rem;
}

.responsive {
  width: 100%;

  height: auto;
}

@media (min-width: 1024px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
  }

  .about-left {
    margin-bottom: 0rem;
  }

  .responsive {
    max-width: 800px;
    width: auto;
  }

  .about-right {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

/* explore section */

.explore {
  /* padding: 0; */
}

.explore-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.explore-header .gallery-text {
  display: none;
}

.explore-header .button {
  font-size: 13.33px;
  margin-right: 0;
}

.explore-body .gallery-text {
  margin-bottom: 1rem;
}

.image-names {
  display: none;
}

.scroll-container {
  display: flex;
  overflow: scroll;
}

.scroll-container > div {
  margin-right: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .explore {
    padding-right: 0rem;
  }

  .explore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
  }

  .explore-header > div {
    display: flex;
    align-items: center;
  }

  .explore-header .gallery-text {
    display: block;

    margin-left: 2rem;
    min-width: 200px;
    max-width: 350px;
    font-size: 0.75rem;
  }

  .explore-body {
    display: flex;
    justify-content: left;
  }

  .explore-body .gallery-text {
    display: none;
  }

  .image-names {
    display: block;
    width: 40rem;
  }
}
