/* 
home.css -- styles to be applied on the home page 
*/

.explore-header {
    display: flex;
    justify-content: space-between;
}

.explore-body {
    display: flex;
    justify-content: left;
}
.about {
  padding: 10%;
}
.responsive {
  max-width: 100%;
  min-width: 40%;
  height: auto;
}
@media (min-width: 768px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
  }
  .about-right {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  .about-header {
    padding-bottom: 0.5rem;
  }
  .landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  .landing-text {
    width: 50%;
  }
  .landing-p {
    text-align: center;
  }
  .landing-h {
    font-size: 3.5rem;
  }
  .responsive {
    min-width: 100%;
    height: auto;
  }
}
h1 {
  font-size: 2.5rem;
}