/* 
home.css -- styles to be applied on the home page 
*/

.about {
  padding: 10%;
}

.explore {
  padding: 0;
}

.explore-header {
  padding: 0 4rem;
}

.image_names {
  display: none;
}

.scroll-container {
  display: flex;
  overflow: scroll
}

@media (min-width: 768px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
  }
  .about-right {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  .about-header {
    padding-bottom: 0.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .explore {
    padding: 4rem 0 4rem 4rem;
  }
  
  .explore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }

  .explore-body {
    display: flex;
    justify-content: left;
  }

  .image_names {
    display: block;
    width: 40rem;
  }
}
