/* 
home.css -- styles to be applied on the home page 
*/

/* landing section */
.background-container {
  position: relative;
}

.background-image {
  display: none;
}

@media (min-width: 768px) {
  .background-image {
    display: block;
    position: absolute !important;
    top: 0;
    width: 100%;
    max-height: 750px;
  }
}
@media (min-width: 768px) {
  .background-container {
    height: calc(100vh - 100px);
  }
}

.landing {
  position: relative;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.landing-h {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  font-size: 3rem;

  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .landing-h {
    font-size: 6rem;
  }
}

.landing-p {
  text-align: center;
  margin-bottom: 1rem;
}

.landing-buttons {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .landing-text {
    font-size: 18px;
    max-width: 580px;
  }
}

/* about section */

.about {
}

.about-header {
  padding-bottom: 0.5rem;
}

.about-left {
  margin-bottom: 3rem;
}

.responsive {
  width: 100%;

  height: auto;
}

@media (min-width: 768px) {
  .about-header > h2 {
    line-height: 48px;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  .about-right {
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
  }

  .about-left {
    margin-bottom: 0rem;
  }

  .responsive {
    max-width: 800px;
    width: auto;
  }

  .about-right {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

/* explore section */

.explore {
  /* padding: 0; */
}

.explore-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .explore-header {
    margin-bottom: 2rem;
  }
}

.explore-header .gallery-text {
  display: none;
}

.explore-header .button {
  font-size: 13.33px;
  margin-right: 0;
}

.image-names {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 0.75rem;
  row-gap: 0.5rem;

  grid-auto-rows: 30px;

  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.image-names > p {
  text-align: center;
}

.scroll-container {
  display: flex;
  overflow: scroll;
}

.scroll-container .gatsby-image-wrapper {
  width: 300px;
}

.scroll-container > div {
  padding-bottom: 4rem;
  margin-right: 2rem;
  text-align: center;
  width: 100%;
}

.scroll-container > div > .gallery-image-title {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 500;
}

.scroll-container > div > img {
  width: 100%;
  height: auto;
}

.audio-player {
  justify-content: center;
  width: 100%;
}

.popup-content {
  height: 70%;
  overflow: scroll;
}

@media (min-width: 768px) {
  .explore {
    padding-right: 0rem;
  }

  .explore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
  }

  .explore-header > div {
    display: flex;
    align-items: center;
  }

  .explore-header .gallery-text {
    display: block;
    margin-left: 2rem;
    min-width: 200px;
    max-width: 400px;
  }

  .explore-body {
    display: flex;
    justify-content: left;
  }

  .explore-body .gallery-text {
    display: none;
  }

  .image-names {
    display: block;
    width: 50rem;
  }

  .scroll-container > div > img {
    height: 20rem;
    width: auto;
  }
}
